<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="geral/head :: head"></th:block>
</head>
<body>

    <form class="col-md-6 ">
        <div class="input-group">
            <span class="input-group-addon" id="titleTExt">Title</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="Description">Description</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1"/>
        </div>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Priority
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Low</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">High</a></li>
            </ul>
        </div>

    </form>

</body>
</html>